<% content_for :title do %>
  <title>Clínica dental Pilar Vara, ondontología conservadora en Oviedo</title>
  <meta name="description" content="Pilar Vara, dentista especialista en odontología conservadora, tratamiento de caries, endodoncia, pulpectomía y apicoformación en Oviedo, Asturias" />
  <meta name="keywords" content="dentista, odontología, clínica odontológica, odontología conservadora, caries, medicina, financiación" />
<% end %>

<%= render layout:"/pilarvara/partials/treatment_layout" do %>
  <div class="header-with-icon">
    <h1 class="title-L">
      Años de experiencia en <br>
      <b>Odontología conservadora</b>
    </h1>
  </div>

  <div class="row cols-66-33 pt32">


    <div class="col">
      <div class="grey-box">
        <p>
          La Odontología conservadora son todos aquellos tratamientos destinados a la
          <strong>eliminación de la caries y conservación del diente</strong>.
        </p>

        <h2 class="_h3 red">¿Qué es la caries?</h2>
        <p>
          La caries se trata de una <strong>enfermedad infecciosa</strong> que afecta
          a los tejidos que forman el diente. Es causada por varias bacterias que forman lo
          que se denomina placa bacteriana. Estas bacterias afectan en primer lugar al tejido
          más externo del diente, el esmalte, continúan con la dentina y finalizan llegando
          a la pulpa (nervio). Las bacterias descomponen los restos de alimentos liberando
          ácidos que desmineralizan los tejidos. Se puede localizar en cualquier zona del
          diente pero lo más habitual es en los surcos y fisuras entre diente y diente.
          Este último tipo de caries es difícil de detectar por lo que en muchas ocasiones
          será necesaria la ayuda de radiografías. En los estados iniciales las caries son
          indoloras y a medida que la caries evoluciona hacia el interior, hacia la pulpa
          dental (el nervio) comienzan las molestias generalmente al frío, el calor y los
          dulces de forma intermitente. Finalmente cuando la caries afecta de forma irreversible
          a la pulpa el dolor es continuo y agudo.
        </p>
      </div>

      <div class="pics-1">
        <%= image_tag asset_path("fot/gallery/CPV_2014_11.jpg"), :alt => "" %>
      </div>

      <div class="grey-box">
        <p>
          Dependiendo de la afectación del diente los tratamientos serán:
        </p>

        <p>
          <strong>Obturación</strong> (empaste, reconstrucción): El objetivo es eliminar
          todo el tejido cariado y sellar la cavidad con un material restaurador como lo es el
          composite, un material del color del diente con propiedades similares a las de
          los tejidos dentales que imita la forma y color del tejido perdido. La higiene
          oral influye de manera significativa en el éxito de la restauración.
        </p>

        <p>
          <strong>Endodoncia</strong> (tratamiento de conductos): Cuando la caries es muy
          profunda y llega hasta la pulpa no podemos realizar un simple empaste. El tratamiento
          en este caso se trata de la eliminiación del tejido pulpar de la cámara y conductos
          del diente, la desinfección y el sellado de los mismos. Con ello conservaremos el
          diente pero también implica que cortamos el aporte sanguíneo que nutre al diente
          por lo que quedará más debilitado. Un diente endodonciado también es un diente más
          débil debido a que caries tan profundas suelen destruir mucho tejido dentario, es
          por ello que en algunos casos será necesario la utilización de postes para su
          reconstrucción y la colocación de coronas sobre ellos. En los casos más sencillos
          y sin complicaciones el éxito de una endodoncia se sitúa en torno al 90%, pero
          complicaciones como conductos curvos, retratamientos, conductos estrechos y
          calcificados, conductos laterales, etc... influirán notablemente en el éxito
          del tratamiento y es posible que el diente termine en extracción que es el
          único tratamiento alternativo a la endodoncia.
        </p>

        <p>
          <strong>Reendodoncia</strong>: En ocasiones en las que el tratamiento de conductos
          no ha sido un éxito es necesario el retratamiento de los conductos y su posterior
          sellado.
        </p>

        <p>
          <strong>Pulpotomía/pulpectomía</strong>: Se trata del tratamiento del nervio en
          dientes de leche. En la pulpotomía se elimina solo la pulpa de la cámara dejando
          la pulpa de los conductos vitales hasta el recambio de ese diente manteniendo el
          espacio. Está indicada cuando no existe sintomatología. Cuando ya existen síntomas
          de inflamación pulpar debemos de eliminar el tejido de los conductos y rellenarlos
          de un material que se vaya reabsorbiendo a la vez que las raíces.
        </p>

        <p>
          <strong>Apicoformación</strong>: Cuando se debe realizar una endodoncia a un diente
          definitivo joven que aun no están formadas las raíces, debemos crear un stop en
          el final de la raíz para poder realizar la endodoncia sellando el conducto.
        </p>

        <em>*Toda endodoncia o reendodoncia necesita ser sellada con una obturación. La
        reconstrucción posterior del diente también afecta al éxito del tratamiento,
        cuanto primero sea, mejor para evitar filtraciones de bacterias o posibles
        fracturas.</em>
      </div>
    </div>
    <div class="col">
      <div class="aside">
        <a href="<%= asset_path("fot/revision.jpg") %>" class="fancybox" title="Mediante la Odontología conservadora intentamos por todos los medios
        recuperar tu sonrisa y salvarla de las caries.">
          <%= image_tag(asset_path("fot/revision.jpg"), class: "w100 bottom-line", alt: "Conservamos tu sonrisa") %>
        </a>
        <p><b class="red">Conservamos tu sonrisa</b><br>
            Mediante la Odontología conservadora intentamos por todos los medios
            recuperar tu sonrisa y salvarla de las caries.
        </p>
      </div>
    </div>

  </div>

<% end %>
