<% content_for :title do %>
  <title>Clínica dental Pilar Vara, prótesis dentales en Oviedo</title>
  <meta name="description" content="En la clínica médico dental Pilar Vara te ofrecemos todas las posibilidades para reponer tu dentadura mediante prótesis, removibles, fijas o sobre implantes." />
  <meta name="keywords" content="odontología, clínica odontológica, implantes, implantes dentales, implantes dentarios, dentista, implantología, medicina, prevención, odontología preventiva, rehabilitación, plasma, prgf, prótesis, dentaduras, financiación" />
<% end %>

<%= render layout:"/pilarvara/partials/treatment_layout" do %>
  <div class="header-with-icon">
    <h1 class="title-L">
      20 años de experiencia en <br>
      <b>Rehabilitación</b>
    </h1>
  </div>

  <div class="row cols-66-33 pt32">


    <div class="col">
      <div class="grey-box">
        <p>
            La pérdida de uno o más dientes produce alteraciones en la masticación, en
            la fonación y en la estética. Es por ello por lo que la reposición mediante
            prótesis de los dientes ausentes es imprescindible para la recuperación de
            la salud oral. Por prótesis entendemos todo aquel dispositivo que, en boca,
            repone tanto encía ( tejido perdido blando) como diente ( tejido perdido duro).
        </p>
      </div>

      <div class="pics-1">
        <%= image_tag asset_path("fot/gallery/CPV_2014_4.jpg"), :alt => "" %>
      </div>

      <div class="grey-box">
        <p>
            Tenemos diferentes opciones a la hora de reponer los dientes perdidos:
        </p>

        <h2 class="_h3 red">Rehabilitación mediante prótesis dental removible:</h2>

        <p>
            Se trata de prótesis que se quitan y se ponen. Dependiendo de si hay dientes
            remanentes o no será parcial o total. Son prótesis que se sustentan únicamente
            sobre los dientes y la encía.
        </p>

        <p>
            Tienen algunos inconvenientes como son: tienen cierta movilidad, desgastan
            los dientes y hacen menguar el reborde óseo y adelgazar la encía, se pueden
            introducir restos de alimentos bajo ellas y pueden producir algunas lesiones
            en la mucosa.
        </p>


        <h2 class="_h3 red">Rehabilitación mediante prótesis dental fija sobre dientes:</h2>

        <p>
            Se trata de lo que se conoce como puentes. Se apoya en los dientes anterior y
            posterior al espacio dejado por el diente o dientes perdidos, para ello es
            necesario el tallado de esos dientes rebajándolos para que las coronas del
            puente se cementen sobre ellos.
        </p>

        <p>
            Los inconvenientes que presentan son el tallado de los dientes de al lado y la
            sobrecarga a la que los sometemos ya que deben soportar las fuerzas de
            masticación de los dientes perdidos.
        </p>

        <h2 class="_h3 red">Rehabilitación mediante prótesis sobre implantes dentales</h2>

        <p>
            Son aquellas rehabilitaciones que se anclan a los implantes dentales. En este grupo tenemos dos tipos fundamentales:
        </p>

        <h3 class="_h3">Prótesis implanto-mucosoportada:</h3>

        <p>
            Utilizadas en casos en los que se han perdido todos los dientes, son prótesis
            para las que se utiliza un número reducido de implantes (2 o 4) para poder
            estabilizarla mediante unos "enganches" ( bolas o barras) pero que también
            se apoyan en su encía.
        </p>

        <p>
            Son más confortables que las prótesis convencionales ya que se reducen los
            movimientos y se mejora la masticación pero este tipo de dentadura también
            son de "quita y pon" y han de retirarse de la boca para limpiase a diario.
        </p>

        <h3 class="_h3">Prótesis implantosoportada:</h3>

        <p>
            Son prótesis fijas sobre los implantes. Pueden ser cementadas o atornilladas.
            Tenemos las coronas unitarias que sustituyen a un solo diente, los puentes
            que son varias coronas unidas que sustituyen a varios dientes y las
            rehabilitaciones, que son estructuras que sustituyen a toda la arcada
            (sobre más de 4 implantes).
        </p>

        <p>
          La colocación de una u otra también depende del caso concreto, según las
          indicaciones del especialista.
        </p>

        <p>
          Una vez que el periodo de osteointegración finaliza pasaríamos a la parte de
          rehabilitación protésica mediante la confección de un molde de la boca y varias
          pruebas intermedias hasta terminar la prótesis definitiva.
        </p>

        <p>
          <strong>¿Todo el mundo puede llevar implantes?</strong>
          Es importante recordar que los implantes
          no son adecuados para todos los casos, previamente a la intervención se debe
          realizar un estudio adecuado para valorar si el paciente es candidato a
          implantes valorando espacio, altura, tipo de hueso, anatómicas adyacentes,
          cuantos implantes debe llevar y qué tipo de rehabilitación protésica se
          realizará posteriormente.
        </p>

        <p>
          <strong>¿Duran para siempre?</strong> Los implantes se encuentran en el medio
          oral rodeado de los mismos tejidos que rodean a los dientes por lo que es
          esencial seguir al pie de la letra las instrucciones y recomendaciones del
          especialista respecto a higiene,  revisiones, mantenimiento, etcétera, ya que
          de lo contrario el éxito de los implantes y la prótesis estaría comprometido
          (fracaso, periimplantitis, fracturas, aflojamientos...).
        </p>
      </div>
    </div>
    <div class="col">
      <div class="aside">
        <a href="<%= asset_path("fot/implante.jpg") %>" class="fancybox" title="Otra opción ante la pérdida de dientes es el uso de prótesis dentales de
        distintos tipos.">
          <%= image_tag(asset_path("fot/implante.jpg"), class: "w100 bottom-line", alt: "Implantes") %>
        </a>
        <p><b class="red">Prótesis</b><br>
          Otra opción ante la pérdida de dientes es el uso de prótesis dentales de
          distintos tipos.
        </p>
      </div>
    </div>

  </div>

<% end %>
