<%= render partial:"/pilarvara/partials/header" %>

<section id="main">

  <div id="submenu">
    <ul>
      <li class="current"><a href="#">Implantólogía</a></li>
      <li class=""><a href="#" >Clínica medico-dental</a></li>
      <li class=""><a href="#">Regeneración ósea</a></li>
      <li class=""><a href="#">Clínica medico-dental</a></li>
      <li class=""><a href="#">Implantólogía</a></li>
      <li class=""><a href="#">Regeneración ósea</a></li>
    </ul>
  </div>

  <div class="header-with-icon">
    <p class="title-L">
      Especialistas en<br>
      <b>implantología dental en oviedo</b>
    </p>
  </div>

  <div class="row cols-66-33 pt32">
    <div class="col">
      <div class="grey-box">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et Clínica Médico-dental <b>dolore magna aliqua</b>. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi, lorem ipsum dolor sit amet, g <a href="#">adipisicing enlace implantógía</a> elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi</p>
      </div>

      <div class="pics-1">
        <%= image_tag asset_path("fot/tratamientos-texto.jpg"), :alt => "" %>
      </div>

      <div class="grey-box">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et Clínica Médico-dental <b>dolore magna aliqua</b>. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi, lorem ipsum dolor sit amet, g <a href="#">adipisicing enlace implantógía</a> elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi</p>
      </div>
    </div>
    <div class="col">
      <div class="aside">
        <a href="http://dummyimage.com/800x600.jpg" class="fancybox" title="Prueba de pie de foto">
          <%= image_tag(asset_path("fot/tratamientos-foto-implantes.jpg"), class: "w100 bottom-line", alt: "Imagen 3D de implantes") %>
        </a>
        <p><b class="red">Pié de foto</b><br>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et</p>
      </div>
    </div>
  </div>
</section>
