<%= render partial:"/pilarvara/partials/header" %>

<%= render partial:"/pilarvara/partials/layerslider_home" %>

<section id="main">
    <%= render partial:"/pilarvara/partials/portada" %>
</section>
