//
// Mixins / Helpers
//

@mixin media($breakpoint) {
  @media only screen and (max-width: $breakpoint) {
    @content;
  }
}

// @include clearfix()
@mixin clearfix {
  &:after {
    content:"";
    display:table;
    clear:both;
  }
}

// @extend %clearfix
%clearfix {
  &:after {
    content:"";
    display:table;
    clear:both;
  }
}

.clearfix:after {
  content:"";
  display:table;
  clear:both;
}

@mixin opacity ($value: 0.5) {
  opacity: $value;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=" $value * 100 ")";
  // filter: alpha(opacity= $value * 100 );
  zoom: 1;
}

@mixin box-shadow($top, $left, $blur, $color, $inset: false) {
  @if $inset {
    -webkit-box-shadow:inset $left $top $blur $color;
    -moz-box-shadow:inset $left $top $blur $color;
    box-shadow:inset $left $top $blur $color;
  } @else {
    -webkit-box-shadow: $left $top $blur $color;
    -moz-box-shadow: $left $top $blur $color;
    box-shadow: $left $top $blur $color;
  }
}

@mixin svg-bg($name) {
  background-image: image-url('png/#{$name}.png');
  background-image: none, image-url('svg/#{$name}.svg');
}

// Taken from: https://github.com/thoughtbot/bourbon/blob/master/app/assets/stylesheets/css3/_font-face.scss
// Order of the includes matters, and it is: normal, bold, italic, bold+italic.

@mixin font-face($font-family, $file-path, $weight: normal, $style: normal, $asset-pipeline: false ) {
  @font-face {
    font-family: $font-family;
    font-weight: $weight;
    font-style: $style;

    @if $asset-pipeline == true {
      src: font-url('#{$file-path}.eot');
      src: font-url('#{$file-path}.eot?#iefix')          format('embedded-opentype'),
           font-url('#{$file-path}.woff')                format('woff'),
           font-url('#{$file-path}.ttf')                 format('truetype'),
           font-url('#{$file-path}.svg##{$font-family}') format('svg');
    } @else {
      src: url('#{$file-path}.eot');
      src: url('#{$file-path}.eot?#iefix')               format('embedded-opentype'),
           url('#{$file-path}.woff')                     format('woff'),
           url('#{$file-path}.ttf')                      format('truetype'),
           url('#{$file-path}.svg##{$font-family}')      format('svg');
    }
  }
}

//
// Comunes, reutilizados, misc */
//
._h,
.hidden {
  display:none !important;
}

// Invisible
._i,
.i {
  opacity: 0.0;
  -ms-filter: "alpha(opacity=0)";
  -khtml-opacity: 0.0;
  -moz-opacity: 0.0;

  /*
  opacity: .75;
  -ms-filter: "alpha(opacity=75)";
  -khtml-opacity: .75;
  -moz-opacity: .75;
  */
}

// Emboss
._e,
.e {
  color:#4c4c4c;
  text-shadow: -1px -1px 1px #4b4b4b;
  text-shadow: 1px 1px 1px #8b8b8b;
}

// Redondeado
._r,
.r {
  border-radius:4px;
}

// Sombra
._s,
.s {
  // x-offset, y-offset, radio, color
  -moz-box-shadow: 0px 4px 5px #000000;
  -webkit-box-shadow: 0px 4px 5px #000000;
  box-shadow:0px 4px 5px #000000;
}

// Separador / legacy
/*<div class="sp"><hr /></div>*/
/* hr { clear:both; display:none; height:1px; width:100%; }
div.sp { clear:both; height:1px; } */
