  <div class="row grey slider-home">
    <div class="wrapper-no-pad">
      <div class="slogan-over-slider">
        <p><b>Especialistas</b><br>en medicina<br>dental en <b>Oviedo</b></p>
      </div>

      <div class="slogan-over-slider-footer">
        <p>En esta clínica lo importante eres <strong>tú</strong></p>
      </div>

      <div id="layerslider" style="width:1148px;height:380px;">
        <div class="ls-slide" data-ls="slidedelay: 3000;  transition2d: 5, 10, 16, 92, 103;">
          <%= image_tag asset_path("carrusel/001.jpg"), :alt => "Frame 1", :class => "ls-bg" %>
        </div>
        <div class="ls-slide" data-ls="slidedelay: 3000;  transition2d: 5, 10, 16, 92, 103;">
          <%= image_tag asset_path("carrusel/002.jpg"), :alt => "Frame 2", :class => "ls-bg" %>
        </div>
      </div>
    </div>
  </div>
