
<% content_for :title do %>
  <title>DENTISTA EN OVIEDO PILAR VARA. CLÍNICA DENTAL E IMPLANTOLOGÍA.</title>
  <meta name="description" content="En la clínica médico dental Pilar Vara somos dentistas especialistas en odontología integral e implantología dental. Oviedo, Asturias." />
  <meta name="keywords" content="odontología, clínica odontológica, implantes, implantes dentales, implantes dentarios, dentista, implantología, medicina, periodoncia, rehabilitación, plasma, prgf, odontología estética, odontología conservadora, financiación" />
<% end %>

<div class="row cols-33-66 pt32">
  <div class="col">

    <h1 class="title-L top-line red">
      La Dra.<br>
      <b>Pilar Vara</b>
    </h1>
    <a href="<%=asset_path("fot/pilar-vara-01.jpg")%>" class="fancybox" title="Doctora Pilar Vara">
      <%= image_tag(asset_path("fot/pilar-vara-01.jpg"), class: "w100 bottom-line", alt: "La Dra. Pilar Vara") %>
    </a>
    <p class="pt32">Nuestro objetivo principal es devolverte la sonrisa. Nos
      preocupamos por restaurar tu salud bucodental que es lo más importante para nosotros.
      Trabajamos para ofrecerte tratamientos de calidad y adecuados a tu caso
      personal y tus necesidades.</p>

      <p class="pt32"> Te escuchamos y buscamos soluciones a tus
      problemas de salud bucodental.
      Queremos que te sientas a gusto y conseguir tu satisfacción es nuestra meta.
       </p>
  </div>
  <div class="col">
    <h2 class="title-L top-line">
      <b>Especialistas</b> en <br>
      <b>implantes dentales</b>
    </h2>
    <div class="grey-box">
      <p>
        En la <strong>clínica Médico-Dental Pilar Vara</strong>, llevamos más de
          20 años cuidando de tu boca <b>en Oviedo</b>, diseñando tu sonrisa y haciéndote sonreir.
          <strong>Somos especialistas en Odontología Integral e Implantología.</strong>
      </p>

      <p>
        Nuestro objetivo es darte calidad de vida y salud bucodental ya que tu boca es una
        parte muy importante del cuerpo y eso es lo más importante que tienes: <strong>tú mismo</strong>.
      </p>

      <p>
        Afrontamos el día a día con un buen <a href="/equipo-humano">equipo humano</a>
         en el que destacan la profesionalidad, experiencia, honestidad y dedicación.
      </p>

      <p>
        Lo que nos diferencia, es un <strong>buen diagnóstico</strong> sumado a
        las <a href="/tratamientos/tecnologia">últimas tecnologías</a> con un
        trato cercano y humano. Que recuperes la sonrisa es nuestra meta.
      </p>
    </div>

    <div class="pics-1">
      <%= image_tag asset_path("fot/smile-design.jpg"), :alt => "" %>
      <%#= image_tag asset_path("fot/minifoto-02.jpg"), :alt => "" %>
      <%#= image_tag asset_path("fot/minifoto-03.jpg"), :alt => "" %>

    </div>
  </div>
</div>
