<h1>Bienvenido</h1>
<p>
  En la clínica Médico-Dental Pilar Vara, llevamos más de 20 años cuidando de tu boca,
  diseñando tu sonrisa y haciéndote sonreir.
</p>

<p>
  Nuestro objetivo es darte calidad de vida y salud bucodental ya que tu boca es una
  parte muy importante del cuerpo y eso es lo más importante que tienes: <strong>tú mismo</strong>.
</p>

<p>
  Afrontamos el día a día con un buen equipo humano en el que destacan la profesionalidad, experiencia,
  honestidad y dedicación.
</p>

<p>
  Nuestros pacientes son los protagonistas.
</p>

<p>
  Trabajamos con una tecnología de vanguardia.
</p>

<p>
  Todos nuestros especialistas están colegiados, lo cual es siempre una garantía.
</p>

<p>
  Nuestra formación continuada consideramos que es un deber para con nuestros pacientes.
</p>

<p>
  El paciente es lo más importante, es único e irrepetible.
</p>

<p>
  Lo que nos diferencia, es un buen diagnóstico sumado a las últimas tecnologías con un
  trato cercano y humano. Que recuperes la sonrisa es nuestra meta.
</p>
