<h1>Financiación a tu medida</h1>
<p>
  En nuestra clínica somos conscientes de que a veces es necesaria una ayuda para hacer
  frente a un tratamiento odontológico. Por ello, nos ponemos en su lugar y ponemos
  todo nuestro empeño en encontrar la financiación que se adapte a sus necesidades.
</p>

<p>
  En la clínica Médico-Dental Pilar Vara, ofrecemos financiación a 12, 18 y 24 meses
  sin intereses ni comisión de apertura. Y financiamos hasta 5 años con unos intereses
  razonables*.
</p>

<p>
  Queremos ayudarte, de esta manera, a que puedas afrontar tu tratamiento de inmediato
  y sin más preocupación.
</p>

<p>
  Somos especialistas en Odongología Íntegra e Implantología.
</p>

<p>
  En esta clínica Médico-Dental, lo más importante <strong>eres tú</strong>.
</p>

<em>*Financiación sujeta a la aprobación de la entidad bancaria.</em>
