<h1>Odontología Preventiva</h1>
<p>La Odontología preventiva es fundamental para el control de la salud bucodental.
  Con la prevención podemos detectar a tiempo problemas que con el tiempo se agravarían.
  Una caries pequeña es fácil de tratar y frenando su evolución podemos evitar la
  realización de una endodoncia o extracción, tratamientos complejos que nos causan
  mayores trastornos y nos encarecen el tratamiento.</p>

  <p>Con la prevención mantenemos una buena higiene oral que nos ayudará a prevenir
    caries y patologías en la encía. Aademás con las revisiones controlaremos el
    ajuste de prótesis que nos pudieran ocasionar lesiones y detectamos hábitos
    que pueden afectar a una correcta función de los dientes.</p>

  <p>La prevención es aun más importante en los niños en los que podemos vigilar
    el buen desarrollo de todo el área orofacial lo que nos llevará con el tiempo
    a una correcta función y estética pudiendo evitar tratamientos posteriores como
    ortodoncia o cirugía.</p>
