<h1>Odontología Estética</h1>

<p>
Cuando hablamos de Odontología estética nos estamos refiriendo aquellos tratamientos
encaminados a mejorar el aspecto de nuestra sonrisa mediante la corrección de la
forma, color, posición de la encía y dientes. No es una especialidad en sí misma,
en la mayoría de los casos se trata de la conjunción de varias especialidades de
 la Odontología. La Odontología estética debe realizarse sobre una base de dientes sanos.
</p>

<p><strong>Coronas (fundas):</strong> cuando tenemos dientes muy destruidos, con
  mal color o mala forma, podemos utilizar las coronas, que son un tipo de prótesis
  que se coloca modo de funda sobre el diente tallado. Tradicionalmente han sido
  de metal-porcelana, pero tienen el inconveniente de que en algún momento, bien
  por retracción de la encía, o por que salte la porcelana, puede producirse una
  exposición del metal. En la actualidad para evitar estos inconvenientes en zonas
  estéticas, existen nuevos materiales que nos evitan estos problemas ya que no
  tienen metal.</p>

<p>
<strong>Carillas:</strong> se trata de unas finas láminas que se colocan en las
superficies externas de los dientes. Nos pueden servir para cambiar el color o
mejorar la posición de un diente. Para su colocación se realiza un tallado menor
que con las coronas por lo que es una técnica menos agresiva.
</p>


<p>
  <strong>Blanqueamientos:</strong> en ocasiones el paso del tiempo, el uso de una medicación,
  la ingesta de café, té, el tabaco pueden afectar al color natural de los dientes.
  Con esta técnica podemos recuperar parte de ese color natural devolviéndole
  luminosidad a su sonrisa. Se realiza mediante la aplicación de agentes
  blanqueadores de uso exclusivo dental que debe ser aplicado por profesionales,
  éstos eliminan del esmalte aquellas sustancias que lo han ido tiñendo con el tiempo.
</p>

<p>
  <strong>Bonding:</strong> se trata del uso de una resina que se adhiere al diente para darle la forma deseada, reparar un fragmento fracturado o cerrar espacios.
</p>

<p>
  <strong>Cirugía estética gingival:</strong> se trata de procedimientos destinados a mejorar la armonía de la encía.
</p>
<ul>
  <li><strong>Gingivectomia:</strong> se elimina una pequeña porción de la encía
    alargando el diente y mejorando casos de sonrisas en las que se ve demasiada encía.</li>
  <li><strong>Gingivoplastia:</strong> operación estética que tiene como
    objetivo eliminar imperfecciones de la encía.</li>
  <li><strong>Frenectomía:</strong> existen casos en los que el frenillo excesivo
    puede provocar problemas fonéticos y estéticos. La frenectomía consiste en la eliminación del frenillo.</li>
</ul>

<p>
    <strong>Incrustación:</strong> en las grandes destrucciones producidas por
    caries tenemos la opción de realizar una incrustacion en lugar de una obturacion,
    con lo que será más fácil reproducir la anatomía pérdida y el material que colocamos
    tendrá mejores propiedades mecánicas. Se trata de un empaste confeccionado en el
    laboratorio dental. Se prepara el diente y se toma un molde con el que
    laboratorio elaborará una pieza con la forma del diente que encaja a la
    perfección en el diente afectado.
</p>

<p>
  El número de implantes utilizado depende del caso concreto del paciente y debe ser determinado mediante un estudio adecuado y completo.
</p>

<p>
  Hoy en día este tipo de prótesis es lo más parecido que podemos encontrar a los propios dientes ya que no se mueven y nos proporcionan la estética y la eficacia masticatoria que necesitamos.
</p>
