<h1>Periodoncia.</h1>

<p>La periodoncia es la parte de la Odontología que atiende las enfermedades
  relacionadas con los tejidos que rodean al diente: encía, hueso y ligamento periodontal.</p>

<p>Los malos hábitos de higiene oral, técnica deficiente de cepillado, hábito de fumar,
  etcétera, ocasionan acumulación de restos de alimentos y otros irritantes que favorecen
  la proliferación de bacterias que provocan la infección de encías causada por la formación
  de sarro. Además existen factores propios del paciente, como la diabetes, que favorecen
  la presencia de esta enfermedad.</p>

<p>La enfermedad periodontal es una de las enfermedades más comunes que existen.
  Sus principales síntomas son: sangrado de la encía, principalmente al cepillarse,
  movilidad dental, mal aliento y alargamiento de los dientes por retracción de la encía.</p>

<p>Existen diferentes grados de las enfermedades de la encía:</p>

<h2>Gengivitis:<h2>

<p>Se trata del primer estadío de la enfermedad. En esta etapa encontraremos
  inflamación de la encía pero sin afectación del hueso que rodea al diente.
  Se trata de una patología reversible. Su tratamiento consiste en la eliminación
  de los depósitos de placa bacteriana y sarro que provocan la inflamación con
  lo que se denomina tartrectomía, higiene o limpieza dental.</p>

<h2>Periodontitis:</h2>

<p>Cuando además inflamación de la encía tenemos pérdida del hueso se trata de
  periodontitis. Esta pérdida suele ser progresiva, aunque existen casos severos
  de periodontitis agresiva que se caracterizan entre otras cosas, por la rapidez
  en su evolución y a una edad temprana. A este punto llegamos debido a que bacterias
  acumuladas bajo la encía provocan la destrucción de los tejidos. Debido a ello se
  forman lo que conocemos como bolsa periodontal un espacio que se forma desde el
  nivel de la encía hasta el hueso remanente. El tratamiento básico de la enfermedad
  periodontal tiene como objetivo la eliminación de todo residuo de placa bacteriana
  y sarro acumulado bajo la encía, en la raíz del diente, es a lo que se denomina
  raspado y alisado radicular o curetaje. Con ello conseguiremos la desinflamación
  del tejido, cierta recuperación de la movilidad y ligera reducción de las bolsas.
  La finalidad del tratamiento es detener la enfermedad y mantenerla inactiva,
  pero no es posible recuperar el hueso perdido. En ocasiones las bolsas periodontales
  son demasiado grandes por lo que sería necesario recurrir a la cirugía para su
  limpieza y reducción.</p>

<h2>Periimplantitis:</h2>

<p>Se trata de la afectación de encía y hueso que rodea los implantes en la que
  apreciamos inflamación de la encía sangrado en ocasiones supuración y exposición
  de espiras del implante. Su tratamiento es algo más complejo que en los dientes
  ya que con la limpieza de la bolsa periimplantaria no suele ser suficiente y
  en muchos casos recurrirmos a cirugía incluso a la ex plantación del implante y
  reposición con uno nuevo.</p>

<p>Para que la enfermedad periodontal no se reactive debe mantenerse una estricta
  higiene bucal mejorando la técnica de cepillado usando el hilo dental y el
  enjuague bucal además el paciente debe asistir periódicamente a los controles
  periodontales para verificar que la enfermedad no re surja y controlar los malos hábitos.</p>

<p>Existen casos en los que la pérdida de soporte ocio es tan grande que ocasiona
  perdida irremediable de una o más piezas dentales las cuales pueden ser repuestas
  con prótesis o implantes.</p>
