<h1>Dra. Pilar Vara</h1>
<p>
  Todos los tratamientos son realizados y/o supervisados por la <strong>Dra. Pilar Vara</strong>,
  directora médica y odontóloga, Doctora en Medicina y cirugía por la Universidad de Salamanca,
  y por un equipo de odontólogos, anestesistas e higienistas dispuestos a solventar
  cualquier duda que aparezca antes, durante y después del tratamiento.
</p>

<p>
  Nuestro cometido es dar calidad en nuestros tratamientos médico-odontológicos,
  lo que conlleva la garantía de los resultado terapéuticos. Hacer buena Odontología
  no es sólo colocar el implante, por ejemplo, sino tener en cuenta los pasos previos,
  la confección de la prótesis que llevará el paciente y el mantenimiento de la prótesis
  mediante interacciones clínicas y exploraciones protésicas a lo largo de la vida
  del paciente.
</p>

<p>
  Dedicamos todos nuestros esfuerzos a encontrar la solución a tus necesidades.
  Te esperamos.
</p>
