<h1>Primera visita</h1>
<p>Cuando un paciente acude a nuestra consulta por primera vez, es fundamental para
 nosotros conocer su estado actual de salud bucodental. Para ello es importante
 realizar un buen diagnóstico global de la boca, mediante la exploración oral,
 pruebas complementarias como la ortopantomografía digital (radiografía de toda
 la boca) o radiografías de una zona concreta (radiovisiografía digital). En
 ocasiones el motivo de consulta es un problema en concreto pero no debemos dejar
 que esto nos distraiga de posibles problemas ocultos que, descubiertos a tiempo,
 son más sencillos de resolver.</p>
