<h1>Tecnología</h1>

<p>
  Disponemos de los últimos avances tecnológicos, como son la <strong>ortopantomografía
  y la radiovisiografía</strong> digitales, centrifugadora de plasma... un sinfín
  de medios a tu alcance para que tu tratamiento sea de la máxima calidad, es decir,
  la excelencia en Odontología.
</p>

<h2>Radiología digital</h2>

<p>
  Se trata de una técnica complementaria que hoy en día resulta imprescindible para realizar
  un diagnóstico correcto y planificar el tratamiento adecuado y personalizado para cada caso.
</p>

<p>
  La Clínica Médico-Dental Pilar Vara, cuenta con un sistema de radiografía intraoral
  (radiovisiografía) y otra extraoral con la que conseguimos imágenes panorámicas
  (ortopantomografía).
</p>
